@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Libre+Franklin:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inspiration&family=Libre+Franklin:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --maincolor:#D7E7E6 ;
    --colormenu:#007acc;
    --colormenuitem:#D7E7E6;
    --colorsection1:#D7E7E6;
    --colormenup:#007acc;
    --colormenubutton:#007acc;
    --colorblack:black;
    --colorwhite:white;
    --colorh1:#007acc;
    --colornm:#a6a6a6;
    --colorcollocation:#007acc;
}
*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
.head{
    background: var(--maincolor);
}
.menu{
    background-color:var( --colormenu)  ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   padding: 20px;
   width: 100%;
   height: 25%;
   box-shadow:0 10px 10px 2px var( --colormenu) ;
  position: sticky;
  top: 0;
  left: 0;
}
.blue .menu{
    background-color: #007acc;
    box-shadow:0 10px 10px 2px var( --colormenu) ;
}
.red .menu{
    background-color: red;
    box-shadow:0 10px 10px 2px red ;
}
.green .menu{
    background-color: green;
    box-shadow:0 10px 10px 2px green ;
}

.menu ul{
   margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-right: 50px;

}
.menu ul li i{
    margin-right: 40px;
}
.menu ul li{
    margin-left: 30px;
    margin-right: 30px;
    list-style: none;

  
}
.menu ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    transition: 0.3s ease;
    font-weight: bold;
}
.menu ul li a:hover{
 color: var(--colormenuitem); 
}
.menu ul li a.active::before
,
.menu ul li a:hover::before
{ 
    content: " ";
    position: absolute;
 width: 30px;
 height: 2px;
 bottom: -4px;
left: -1px;
background:var(--colormenuitem);

}

.menu ul li i:hover{
    color:var(--colormenuitem); 
    cursor: pointer; 
}
.menu .yop{
    margin-top: 7px;
    margin-right: 20px;

}
.menu .yop i{
   margin: 5px;
}
.menu .yop i:hover{
   color: var(--maincolor) ; 
}
.menu .yop .cal{
    display: none;
}
.section1 {
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    background: var(--colorsection1);
    z-index: 0;
    margin-top: 30px;
    
  
}
.section1 div img{
    width: 400px;
    height: 500px;
    margin-right: 100px;
}

.section1 .v1{
    margin-left: 100px;
    margin-top: 100px;
    
    
}
.section1 .v1 p{
    font-weight: bold;
    font-size: 30px;
  
}
.section1 .v1 h1{
    color:var(--colormenup) ;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
   
}
.section1 .v1 h2{
    font-size: 30px; 
    margin-top: 10px;  
  
}

.section1 .v1 .v2{
    margin-top: 10px;  
     
}
.section1 button{
 background-image: url(image/button.png);
 background-color: transparent; 
 border: 0;  
 background-repeat: no-repeat;
 padding: 14px 80px 14px 65px;
 font-weight: bold;
 font-size: 15px;
 margin-top: 20px;
 color:var(--colormenubutton) ;
}
.section2{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row ;
    justify-content: space-between;
background-color: var(--colorwhite);
  width: 100%;
color: var(--colorblack);
padding: 20px 70px 20px 70px;
}
.section2 div{ 
    border: 1px solid var(--colorblack);
    width: 150px;
    height: 150px;
 align-items: center;
 text-align: center;
 padding: 10px;
 margin: 10px;

}
.section2 div img{
    width: 100px;
    height: 100px;
    
}
.section2 div p{
    margin-top: 10px;
    margin-bottom: 50px;
    }
    .section2 div .s1{
        background-color: #80ccff;    
    }
    .section2 div .s2{
        background-color: #ff80ff;
    }
    .section2 div .s3{
        background-color: #99ffbb
        ;       
    }
    .section2 div .s4{
        background-color: #ffff66
        ;   
    }
    .section3{
        background-color: white;
    }
    .section3 h1{
        color:var(--colorh1) ;
        text-align: center;
        padding: 20px 0px;
        font-family: 'Dancing Script', cursive;
font-size: 50px;
    }
    .section3 .collocation1 
  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
     justify-content: space-around;
    }
    .section3 .collocation1 .collocation2{
        border: 1px solid var(--colornm);
        margin: 10px;
        padding: 10px;
    border-radius: 10px;
   
    }
    .section3 .collocation1 .collocation2:hover{
        box-shadow: 2px 2px 1px 1px var(--colornm) ;
background-color: var(--colorcollocation);
border: var(--colorcollocation);
border-radius: var(--colorcollocation);
border-radius: 10px;
    }
    .blue .section3 .collocation1 .collocation2:hover{
        background-color:#007acc ;
    }
    .red .section3 .collocation1 .collocation2:hover{
        background-color:red ;
    }
    .green .section3 .collocation1 .collocation2:hover{
        background-color:green ;
    }
    .section3 .collocation1 .collocation2 img{
width: 250px;
height: 250px;
border: 10px solid black;
    }
    .section3 .collocation1 .collocation2 .e1 .e2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 5px 0px 5px;
    }
    .section3 .collocation1 .collocation2 .e1 .e3{
        color: #e6e600 ;
        margin-top: 10px;
    }
    .section3 .collocation1 .collocation2 .s7{
        color: var(--colornm);
    }
    
    .section3 .collocation1 .collocation2 .s5{
        margin-top: 5px;
    }
    .section4 
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
background-color: white;
padding: 10px;

    }
    .section4 .i1
    ,.section4 .binner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        background-image: url(image/bannerr/j1.jpg);
        background-position: center;
        background-size: cover;
        width: 600px;
        height:300px;
        padding-left: 20px;
        padding-top: 40px;
        border-radius: 10px ;
        margin: 10px;
    }
    .section4 .i2{
        background-image: url(image/bannerr/b10.jpg); 
       
    }
    .section4 .i3{ 
        background-image: url(image/bannerr/j9.jpg);
        width: 350px;
        height:200px; 
    }
    .section4 .i4{  
        background-image: url(image/bannerr/j8.webp);
        width: 350px;
        height:200px; 
    }
    .section4 .i5{
        background-image: url(image/bannerr/b16.jpg);
        width: 350px;
        height:200px; 
    }
    .section4 .binner button{
        background-color: transparent;
        padding: 10px;
    } 
    .section4 .binner button:hover{
        background-color: rgba(255, 255, 255,0.75);
    }
    .section4{
        line-height: 30px;
    }
    .section5{
      background-color:var(--colormenu);  
      padding: 50px;
      font-size: 15px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      
    }
    .blue .section5{
        background-color:var(--colormenu);    
    }
    .red .section5{
        background-color:red;    
    }
    .green .section5{
        background-color:green;    
    }
    .section5 div .c1{
padding: 8px;
outline: none;
width: 300px;
    }
   .section5 div .c2{
        padding: 9px;
        outline: none;
     border: none;
     background-color:var(--colornm) ;
    }

.section6{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
}
.section6 .w1 div img{
    margin-bottom: 20px;
 
}
.section6 .w2{
margin-top: 10px;
margin-bottom: 20px;
}
.section6 .w2 i{
    padding: 2px;
    color:var(--colormenu) ;
}
.section6 .w5{
    margin-bottom: 30px;
    color:var( --colormenu) ;
}
.section6 .w8{
    margin-bottom: 30px;
    color:var( --colormenu) ;
}
.section6 .d1{
    margin-bottom:20px ;
}

.continerrr{
    right: 0;
    top: 22px;
    position: absolute;
    background-color: aliceblue;
    padding: 5px;
    display: flex;
    flex-direction: row;
    transition: 0.5s linear ;
position: fixed;
}
.continerrr .oip{
    margin-left: 10px;
    display: none;
    transition: 0.5s linear ;
}
.continerrr .oip.open {
    display: block; 
    transition: 0.5s linear ;
}

.continerrr .oip .swtich-color{
    list-style: none;  
}
.continerrr .oip .swtich-color li{
    width: 20px;
    height: 20px;
 margin-left:2px ;  
 margin-right:2px ;
 border: 1px solid black;
 border-radius: 2px;
 display: inline-block;
}
.continerrr .swtich-color li:first-child{
    background-color:#007acc ;
}
.continerrr .swtich-color li:nth-child(2){
    background-color:red ;
}

.continerrr .swtich-color li:nth-child(3){
    background-color:green ;
}

.continerrr .swtich-color li:nth-child(4){
    background-color:black ;
}
.menu ul li i{
    margin-right: 60px;
}
.continerrr .ppo {
margin-top: 5px;
}
.continerrr .oip .nyu{
margin-bottom: 5px;
}
@media(max-width:911px)
{
  .head .menu ul li {
    margin-left: 20px;
    margin-right: 20px;
   
  }
  @media(max-width:911px){

    .section1 .v1 p{
      
        font-size: 20px;
      
    }
    .section1 .v1 h1{
        color:var(--colormenup) ;
        font-size: 20px;
        font-family: 'Dancing Script', cursive;
        margin-top: 10px;
       
    }
    .section1 .v1 h2{
        font-size: 20px; 
        margin-top: 10px;  
      
    }
    .section1 div img{
        width: 300px;
        height: 400px;
        margin-right: 80px;
    }
  }
  @media(max-width:767px){
    .head .menu ul li {
        margin-left: 15px;
        margin-right: 15px;
       
      }
  }
  @media(max-width:717px){
    
       .section1 div img{
        width: 200px;
        height: 300px;
        margin-right: 80px;
    }
    .section1 .v1{
        margin-left: 50px;
        margin-top: 50px;
        
        
    }
    
    .section1 .v1 h1{
       

        margin-top: 10px;
       
    }
    .section1 .v1 h2{
     
        margin-top: 10px;  
      
    }
    
    .section1 .v1 .v2{
        margin-top: 10px;  
         
    }
    .section1 button{
   
     font-size: 15px;
     margin-top: 20px;
  
    }
}
@media(max-width:682px){
   .menu ul {
        display: inline-block;
        padding:40px;
        
    }
    .menu ul li{
        margin: 20px;
 
    }
    .menu ul li i{
        margin-left: 37px;
    }
   
      .head .menu ul {
        position: absolute;
        top: 112%; right: -50px;
        background: #fff;
        width: 200px;
        height: calc(200vh - 9.5rem);
  display: none;
  transition: 0.5s linear; 
    }
    .head .menu ul :hover{
        color: brown;
    }
    .head .menu ul.active{
        position: absolute;
        top: 112%; right: -50px;
        background: #fff;
        width: 200px;
        height: calc(200vh - 9.5rem);
display: block;
transition: 0.5s linear;
    }
    .head .menu .yop .cal{
        display:inline-block; 
    }
   
    .section3 .collocation1 .collocation2 img{
        width: 200px;
        height: 200px;
        border: 10px solid black;
            }
            .section4 .i1
            ,.section4 .binner{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                text-align: center;
                background-image: url(image/bannerr/j1.jpg);
                background-position: center;
                background-size: cover;
                width: 400px;
                height:200px;
                padding-left: 20px;
                padding-top: 40px;
                border-radius: 10px ;
                margin: 10px;
            }
            .section4 .i2{
                background-image: url(image/bannerr/b10.jpg); 
               
            }
            .section4 .i3{ 
                background-image: url(image/bannerr/j9.jpg);
                width: 350px;
                height:200px; 
            }
            .section4 .i4{  
                background-image: url(image/bannerr/j8.webp);
                width: 350px;
                height:200px; 
            }
            .section4 .i5{
                background-image: url(image/bannerr/b16.jpg);
                width: 350px;
                height:200px; 
            }
}
@media(max-width:530px )
{
    
    .section1 div img{
      display: none;
    } 
    .section1 .v1{
background-image:url(image/s8.png) ;
background-position:top right;
background-size:200px;
background-repeat: no-repeat;
margin-top: -3px;
margin-bottom: 10px;
    }
  
}
@media( max-width:370px )
{
   
   
    .section1 .v1{
        background-image:url(image/s8.png) ;
        background-position:top right;
        background-size:150px;
        background-repeat: no-repeat;
         margin-bottom: 10px;
       
            }
            .section1  .v1 p,.section1  .v1 h1
            ,.section1  .v1 h2,.section1 .v2,.section1 button{
                font-size: 10px;
            }
            .section5 div .c1{
                padding: 8px;
                outline: none;
                width: 150px;
                margin-bottom: 10px;
                    }
}
@media( max-width:494px){
    .section2{
     display: flex;
     flex-direction: column;
     align-content: center;
    }
  
    }
    @media( max-width:590px){
.section1 button{
    background-image: url(image/button.png);
    background-color: transparent; 
    border: 0;  
    background-repeat: no-repeat;
    padding: 14px 80px 14px 70px;
    font-weight: bold;
    font-size: 10px;
    margin-top: 20px;
    color:var(--colormenubutton) ;
}
.section1 .v1 button{
    background-image: none;
    background-color: transparent; 
    border:1px solid black;  
    
    padding: 5px 5px 5px 5px;
   
    font-size:10px;
    margin-top: 20px;
  text-align: center;
  align-content: center;
    color:var(--colormenubutton) ;

    
    }

    
    }
    }